* {
  outline: none;
}

main {
  position: relative;
  font-style: normal;
  line-height: 1.5;
  overflow-x: hidden;
}

.login-fundo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 95vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url('./assets/CapaMosaic.jpg') top center;
  align-items: center;
  display: flex;
  height: 83vh;
  transform: scale(1.355);
}

.container-info {
  height: 409.594px;
  width: 1108px;
  padding: 0 16px 0 16px;
  margin: 0 256px 0 256px;
  display: flex;
  justify-content: center;
}

.container-block {
  height: 409.594px;
  width: 1172px;
  margin: 0 -2rem 0 -2rem;
  display: flex;
  justify-content: center;
}

.form-wrap {
  height: 409.594px;
  width: 522px;
  padding: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
}

.form-box {
  height: 409.594px;
  width: 522px;
  opacity: 0.8;
  padding: 2rem;
  padding-right: 2rem;
  background: #fff;
  display: flex;
  justify-content: center;

  position: relative;
  left: -2.5rem;
  top: -1.2rem;
}

.form-main {
  height: 313.594px;
  width: 490px;
  padding: 2.5rem 1rem;
  z-index: 1;
  background-color: transparent;
  padding: 3rem 1rem 3rem 1rem;
  position: relative;
  overflow: visible;
}

.form-div {
  font-family: 'Didact Gothic';
}

.header-top {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  overflow: visible;
  position: fixed;
  top: 0;
  min-height: 70px;
  z-index: 999;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.header-in {
  max-height: 50px;
  width: 1140px;
  position: relative;
  word-wrap: break-word;
}

.navbar-brand {
  height: 70px;
  width: 183px;
  min-height: auto;
  min-width: auto;
}

.navbar-logo {
  height: 70px;
  width: 170px;
}

.img-logo {
  --loader-delay-offset: 73ms !important;
  object-fit: contain;
  width: 170px;
  height: 70px;
  overflow: hidden!important;
}

.footer-top {
  height: 96px;
  padding: 32px 0 32px 0;
  width: 100%;
  background-color: #211E19;
  display: flex;
  justify-content: space-around;
}

.footer-mid {
  padding: 30px 0 30px 0;
  height: 25px;
  width: 100%;
  background-color: #211E19;
}

.footer-bottom {
  height: 2vh;
  padding: 32px 0 32px 0;
  background-color: #159941;
}